/* --- Reset & Apple Font --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}

/* --- Container Chính --- */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.apple-logo {
  font-size: 45px;
  margin-bottom: 20px;
  color: black;
}

/* --- Wrapper (Các Form) --- */
.wrapper {
  display: none; /* Ẩn mặc định */
  width: 100%;
  background: rgb(32, 32, 32);
  backdrop-filter: blur(20px);
  padding: 60px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0;
}

/* Hiển thị form đang hoạt động */
.wrapper.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
  color: #0071e3;
}

.subtitle {
  font-size: 14px;
  color: #86868b;
  text-align: center;
  margin-bottom: 30px;
}

/* --- Input Box Design --- */
.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 20px 15px 10px 15px;
  background: rgba(255, 255, 255, 0.08);
  border: none;
  border-radius: 12px;
  color: #fff;
  outline: none;
  font-size: 16px;
}

.input-box label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.2s;
}

/* Hiệu ứng Floating Label */
.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
  top: 12px;
  font-size: 13px;
  color: #0071e3;
}

.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.3);
}

/* --- Actions & Buttons --- */
.remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin: 10px 0 25px;
  color: #86868b;
}

.remember-forget a {
  color: #0071e3;
  text-decoration: none;
}

.btn {
  width: 100%;
  padding: 14px;
  background: #0071e3;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #0077ed;
}

.btn-dark {
  background: rgba(244, 237, 237, 0.1);
}

.register-link {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: #86868b;
}

.register-link a {
  color: #0071e3;
  text-decoration: none;
}
